@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: large;
    object-fit: contain;
}
html{
    scroll-behavior: smooth;
}
a{
    color: white;
    text-decoration: none;
}

header nav{
    color: white;
    padding: 1rem;
}
.logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
.logo img{
    transform: scale(0.8);
}
.logo h2{
    font-size: 1.5rem;
    margin-left: 0.2rem;
}
nav ul li:first-child{
    flex-grow: 1;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;

}
header{
    background: linear-gradient(90deg, rgba(8, 40, 39, 0.97) 50%, rgba(25, 99, 119, 0.817) 50%);
}
.text h1{
    font-size: 3rem;
    color: white;
}
.text{
    width: 40%;
    color: white;
}
.hero{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
button{
    margin-top: 2rem;
    margin-right: 1rem;
    width: 220px;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: lighter;
    outline-style: none;
    border: none;
}
.get-but{
    background-color: white;
    color: black;
}
.get-but:hover{
    background-color: transparent;
    border: 1px solid white;
    transition-duration: 0.2s;
    color: white;
}

.about-but:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;
    transition-duration: 0.2s;
}

h1{
    font-size: 2rem;
    text-align: center;
}
.about{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}
.about-text{
    margin-top: 4rem;
    width: 50%;
}
p{
    font-weight: 400;
}
.about-text p{
    margin-bottom: 2rem;
}
.read:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;
    transition-duration: 0.4s;
}
.hire{
    background-color: rgba(8, 40, 39, 0.97);
}
.hire:hover{
    background-color: transparent;
    border: 1px solid rgb(2, 66, 174);
    color: rgb(2, 66, 174);
    transition-duration: 0.4s;
}
.category{
    padding: 4rem;
    background-color:aqua;
}

.category h1{
    font-size: 2rem;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
.container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    row-gap: 5rem;
}
figure{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
figcaption{
    margin-top: 1rem;
}
.spering-company{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 5rem;

    
}
.freelance img{
    background-color: rgba(8, 40, 39, 0.97);
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.freelance img:hover{
    background-color: rgba(0, 255, 255, 0.658);
}

.freelance figcaption{
    color: black;
    float: right;
    margin-left: 0.5rem;
}

.freelance figcaption span{
    color: red;
}

.work-container{
    display: flex;
/*     gap: 2rem; */
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.card-container{
    width: 650px;
    height: 250px;
    position: relative;
}
.card{
    background-image: url(images/quote.png);
    background-repeat: no-repeat;
    background-position: bottom 20px center;
    width: 100%;
    height: 100%;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.231);

}

.right {
    background-color: rgba(8, 40, 39, 0.97);
    padding: 1.2rem;
    border-radius: 50%;
    position: absolute;
    right: -70px;
    top: 80px;
}
.left{
    background-color:rgba(8, 40, 39, 0.97);
    padding: 1.2rem;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 80px;
}

footer{
    background-color:rgba(8, 40, 39, 0.97);
    padding: 3rem;
}
.list ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}
.foot-head{
    display: flex;
    flex-direction: column;
    color: white;
}
.last-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    flex-basis: 1;
}
.last-container input{
    padding: 5px;
    font-weight: lighter;
    width: 90%;
}
.last-container button{
    width: 70%;
    border: 1px solid white;
}
.navigation li{
    display: none;
}

@media (max-width:769px) {
    .navigation li{
        display: flex;
    }
    .navigation{
        display: flex;
        flex-direction: column;
    }
    header nav ul li{
    display: none;
   } 
}